<<<<<<< HEAD
/*
 * CSS file for my site's homepage
 *
 */

 /* main homepage entry class */
.home-entry {
    width: 60%;
=======
.home-entry-pinned {
    width: 50%;
>>>>>>> 758d6f8e6a86205c9a8c66883cfea0d29145c3db
    margin: auto;
    border: auto;
    border-radius: 25px;
    /*background-color: #84c8f5;*/
    /*background-color: #aab1bb;*/
    background-color: #98b5ce;
    margin-top: 50px;
    margin-bottom: 60px;
    padding: 20px;
    /*color: #000099;*/
}


.wrap-around {
    width: 30%;
    float: left;
    margin: 20px;
}

.text-section{
    border-radius: 25px;
    padding-right: 10px;
    padding-left: 10px;
    border: 0;
    font-family: Helvetica;
    text-align: left;
    color: #271b1b;
}

.text-section h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.text-section p {
    font-size: 1rem;
}

.project-list li {
    padding-bottom: 10px;
}

