/*
 * Main stylesheet for my personal webpage.
 *
 *
 */

/* styling for the body/background of page */
body {
    background-color: lightgray;
    padding: 0;
    margin: 0;
}

/* styling for background of header */
.headerwrapper{
    background-color: #0099ff;
    width: 100%;
}

/* styling for page headers */
.header {
    color: #000099;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 75px;
    padding-right: 0;
    margin: 0;
    border: 0;
    font-size: 56px;
    font-family: monospace;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
}

/* fade-in animation for all browser types */

@keyframes fadein{
    from {opacity: 0;}
    to {opacity: 1;}
}

@-moz-keyframes fadein{
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fadein{
    from {opacity: 0;}
    to {opacity: 1;}
}

@-ms-keyframes fadein{
    from {opacity: 0;}
    to {opacity: 1;}
}

@-o-keyframes fadein{
    from {opacity: 0;}
    to {opacity: 1;}
}

/* styling for top-of-page button group */
.navbar{
    width: 100%;
    background-color: #000099;
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
}

.navbar a{
    text-align: center;
    border-style: solid;
    background-color: #000099;
    color: #0099ff;
    width: 13%;
    min-width: 150px;
    border: 0;
    padding-left: 0;
    padding-right:0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    font-family: monospace;
    font-size: 24px;
    float: left;
    display: block;
    transition-duration: 0.5s;
}

.navbar .dropdown {
    float: left;
    overflow: hidden;
    width: 13%
}

.dropdown .dropbtn {
    font-size: 24px;
    width: 100%;        
    text-decoration: underline;  
    border: none;
    outline: none;
    color: #0099ff;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #000099;
    font-family: monospace;
    margin: 0;
    cursor: pointer;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
    color: #000099;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    width: 100%;
    color: #0099ff;
    background-color: #000099;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #000000;
    color: red;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* footer at the bottom of each page */
.footer {
    background-color: #000099;
    width: 100%;
    margin-top: 150px;
    bottom: 0;
    height: 75px;
}

.social-media-links {
    width: 30%;
    float: right;
    height: 75px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.footer-link-github {
    float: left;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    width: 30%;
    height: auto;
}

.footer-link-linkedin {
    float: left;
    padding-top: 22px;
    padding-right: 20px;
    padding-left: 20px;
    width: 30%;
    height: auto;
}
