body {
    background-color: lightgray;
    padding: 0;
    margin: 0;
}

.header {
    color: white;
    background-color: maroon;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    border: 0;
    font-size: 56px;
}

.button_group {
    width: 33%;
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
}

.button {
    width: 50%;
    text-align: center;
    border-style: solid;
    background-color: gray;
    color: black;
    border: 0;
    padding-left: 0;
    padding-right:0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    float: left;
}

.button:hover {
    background-color: black;
    color: gray;
}

.banner {
    width: 33%;
    background-color: gray;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    color: black;
    text-align: center;
    font-size: 48px;
    align-content: center;
    float: left;
    border: 0;

}