/*
 * Main stylesheet for my personal webpage.
 *
 *
 */

/* styling for the body/background of page */
body {
    background-color: lightgray;
    padding: 0;
    margin: 0;
    min-width: 1000px;
    font-size: 1rem;
    font-family: Helvetica;
    text-align: center;
}

.top-crop {
    max-height: 350px;
    overflow: hidden;
}

.top-crop img {
    width: 100%;
    margin-top: -20%;
    margin-bottom: 0;
    padding: 0;
}

.img-overlay{

    position: relative;
    display: inline-block; /* Make the width of box same as image */
    margin: 0;
}

.img-overlay .overlay-text{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 60%; /* Set the width of the positioned div */
}

  
  ul {
    background: #271b1b;
      list-style: none;
      margin: 0;
      padding-left: 0;
  }

  li a {
      color: white;
  }
  
  ul li {
      color: white;
    background: #271b1b;
      display: block;
      float: left;
      padding: 1rem;
      position: relative;
      width: 10%;
  }
  
  ul li:hover {
      background: white;
      color: #271b1b;
      cursor: pointer;
  }
  
  ul li ul {
      background: #271b1b;
    visibility: hidden;
    opacity: 0;
    min-width: 10rem;
      position: absolute;
    margin-top: 1rem;
      left: 0;
    display: none;
  }
  
  ul li:hover > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  
  ul li ul li {
      clear: both;
    width: 100%;
  }


/* footer at the bottom of each page */
.footer-local {
    margin-top: 50px;
    padding-top: 20px;
    /* padding-bottom: 10px; */
    background-color: #000099;
    background-repeat: repeat;
    color: white;
    
}

.footer-local a {
    color: white;
}

.footer-orgs-local {
    padding-left: 70px;
}

.footer-social-local {
    padding-right: 70px;
    text-align: right;
}

.social-media-local {
    height: 40px;
    width: auto;
    float: right;
    padding-top: 10px;
    margin-left: 20px;
}

.footer-copy-local {
    margin-top: 20px;
}

.divider {
    margin-bottom: 30px;
    height: 2px;
    border-color: #000099
}

.divider-short {
    margin-bottom: 5px;
    height: 2px;
    border-color: #000099;
}
