.project-heading {
    padding-top: 15px;
    padding-left: 10px;
}

.project-heading h3 {
    text-align: left;
    font-weight: bold;
    font-size: 1.5rem;
    color: #271b1b;
}

.project-heading .tall-icon{
    float: right;
    padding-right: 5px;
    margin: 0;
    border: 0;
    width: 50px;
    height: auto;
}

.project-heading .short-icon {
    float: right;
    padding-right: 5px;
    margin: 0;
    border: 0;
    width: 50px;
    height: auto;
    padding-top: 4px;
}



.project {
    background-color: #98b5ce;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    margin-top: 50px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
    border-radius: 25px;
}

.project img {
    width: 60%;
    margin-left: 10px;
    height: auto;
    float: left;
    margin: 0;
    border: 0;
}

.project-img {
    padding-top: 0.5rem;
    padding-left: 1rem;
}

.project p {
    color: #271b1b;
    width: 35%;
    float: right;
    text-align: left;
}