.project-heading {
    padding-top: 15px;
    padding-left: 10px;
}

.project-heading h3 {
    text-align: left;
    font-weight: bold;
    font-size: 1.5rem;
    color: #000099;
}

.project-heading .tall-icon{
    float: right;
    padding-right: 5px;
    margin: 0;
    border: 0;
    width: 50px;
    height: auto;
}

.project-heading .short-icon {
    float: right;
    padding-right: 5px;
    margin: 0;
    border: 0;
    width: 50px;
    height: auto;
    padding-top: 4px;
}


.pinned-project {
    background-color: #84c8f5;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
    border-radius: 25px;
}

.pinned-project img {
    width: 60%;
    margin-left: 10px;
    height: auto;
    float: left;
    margin: 0;
    border: 0;
}

.pinned-project p {
    color: #000099;
    width: 37%;
    padding-left: 10px;
    float: right;

}

.project {
    background-color: #84c8f5;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
    border-radius: 25px;
}

.project img {
    width: 60%;
    margin-left: 10px;
    height: auto;
    float: left;
    margin: 0;
    border: 0;
}


.project p {
    color: #000099;
    width: 37%;
    padding-left: 10px;
    float: right;
}