.project-heading {
    color: #000099;
    padding-top: 10px;
    font-size: 24px;
    font-family: monospace;
    text-align: left;
    font-weight: normal;
}

.project-heading .tall-icon{
    float: right;
    padding-right: 5px;
    margin: 0;
    border: 0;
    width: 64px;
    height: auto;
}

.project-heading .short-icon {
    float: right;
    padding-right: 5px;
    margin: 0;
    border: 0;
    width: 64px;
    height: auto;
    padding-top: 4px;
}

.divider {
    margin-bottom: 30px;
    height: 2px;
    border-color: #000099
}
.pinned-project {
    background-color: #0099ff;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 20px;
    border-radius: 25px;
}

.pinned-project img {
    width: 45%;
    margin-left: 10px;
    height: auto;
    float: left;
    margin: 0;
    border: 0;
}
.pinned-project iframe{
    width: 560px;
    height: 315px;
    margin-left: 10px;
    float: left;
}

.pinned-project p {
    color: #000099;
    width: 50%;
    padding-left: 10px;
    float: right;
    font-size: 20px;
    font-family: monospace;
}

.project {
    background-color: #0099ff;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 20px;
    border-radius: 25px;
}

.project img {
    width: 45%;
    margin-left: 10px;
    height: auto;
    float: left;
    margin: 0;
    border: 0;
}
.project iframe{
    width: 560px;
    height: 315px;
    margin-left: 10px;
    float: left;
}

.project p {
    color: #000099;
    width: 50%;
    padding-left: 10px;
    float: right;
    font-size: 20px;
    font-family: monospace;
}